<label for="tags">Tags: </label>
<select name="tags" id="tags" multiple>
  {{#each tags}}
  <option id="{{this}}" value="{{this}}">{{this}}</option>
  {{/each}}
</select>
<div class="form-field">
  <label for="custom_tag">Custom Tag (optional): </label>
  <input type="text" name="custom_tag" id="custom_tag">
</div>